<h1>Story about numbers - scale</h1>
<br>
<p>The distance to the moon - about 385,000 km (239,000 mi) from Earth's center:</p>
<img src="/public/images/sidestory/numberStory/distance-to-the-moon.png" alt="distance-to-the-moon.png">
<br>
<p>If we ask people about the distance to the moon for a given size of the earth (for example, a basket ball. 
In this case, the moon is about the size of a tennis ball), 9 of out 10 people, put the tennis ball much closer than 30x(diameter of the basket ball). 
Most likely, 5x-10x.</p>
<br>
<br>
<hr>
<h1>Logarithmic scale</h1>
<p>We use a logarithmic scale to show the rate of change of the number over time.            
The bottom picture makes it much clearer that the rate of change or growth rate is constant.</p>
<img src="/public/images/sidestory/numberStory/linear-log-scale.png" alt="linear-log-scale.png">
<br>
<br>
<p>Logarithm scales are often used when there is a large range of values involved with the variables under consideration.</p>
<img src="/public/images/sidestory/numberStory/xkcd-logscale.png" alt="xkcd-logscale.png">
<p align="middle">Picture source: <a href="https://xkcd.com/1162/">https://xkcd.com/1162/</a></p>
<br>
<p>Though there are some debates whether the majority of the human sensory system is wired up to respond in log units, there are some cases that may seem to support it.

For example, if we turn on one hair dryer, the room will get much louder, but turning on a second hair dryer won't suddenly make things twice as loud.
We'd need about ten extra hair dryers to double the loudness of the sound. - <a href="https://www.quora.com/What-is-the-intuitive-scale-which-guides-human-senses-Is-it-the-logarithmic-scale-or-the-ubiquitously-adopted-linear-scale">What is the intuitive scale which guides human senses? Is it the logarithmic scale or the ubiquitously adopted linear scale?</a></p>
<br>
<hr>

<!--
<a href="#/sidestory/numberStory">Number Story</a>
<br>
-->
<a href="#/sidestory/numberStory">Number Story</a>
<br>
<a href="#/sidestory/numberStory/scale">Number Story : Scale</a>
<br>
<a href="#/sidestory/numberStory/solar-system-scale">Number Story : Solar System in Real Scale</a>
<br>
<a href="#/sidestory/">Back to Side Story</a>
<br>
<a href="#/home">Back to Site Home</a>

