<h1>Story about numbers - solar system scale</h1>
<br>
<p>Most of us have seen the following picture that is not drawn in truly real scale.</p>
<img src="/public/images/sidestory/numberStory/Solar-system.png" alt="Solar-system.png">
<p align="middle">Picture source: <a href="https://commons.wikimedia.org/wiki/File:Solar-system.png">File:Solar-system.png</a></p>
<br>
<p>Description in the summary:
A model of the Solar System that shows sizes to scale as well as distances to scale, using distance and radius details from NASA's Solar System Exploration website.
But it is critical to note that this image should not be considered a "scale model" as it does not depict both sizes and distances at the same scale.</p>
<br>
<p>Actually, we have to sacrifice either <b>distance</b> or <b>size</b> in order to make it a feasible print job, which is why many textbooks unfortunately fail to illustrate the scale of the solar system accurately.</p>
<p>"Most of the pictures in my books made the distance between planets seem small and easy to travel. Museums were no help either. The models they displayed usually had the sizes of the planets to scale, but the distances between them were a completly different scale, giving the impression of a rather close-knit family." - from <a href="http://www.exploratorium.edu/ronh/solar_system/">Make a scale model of the Solar System</a></p>

<p>Here are some of the efforts to make the model in real scale:</p>
<ol>
 <li>
    <a href="http://joshworth.com/dev/pixelspace/pixelspace_solarsystem.html" target="_blank">A tediously accurate map of the solar system</a>
 </li> 
 <li>
    <a href="http://www.omgspace.net/" target="_blank">OMG SPACE</a>
 </li>
</ol>
<br>

<br>
<p>Here is the real scale solar system when the sun is the same size of basket ball (diameter ~ 24cm):</p>
<img src="/public/images/sidestory/numberStory/Solar-System-Model.png" alt="Solar-System-Model.png">
<p align="middle">Picture source: <a href="http://www.exploratorium.edu/ronh/solar_system/">Make a scale model of the Solar System</a></p>
<p>Note: the orbit diameter in inches appears to be off.</p>
<p>As we can see from the picture, Neptune is located around 800 meters, and Pluto is about 1km away from the sun that is basket ball size. See how small the earth is (2mm).</p>  
<p>In an astronomical unit (AU) which represents the mean distance between the Earth and our sun, Jupiter is located at 5AU, Saturn at 10AU, Uranus at 20AU,   
Neptune 30AU, Plute at 40AU, and Kuiper Belt at 50AU.</p> 

<img src="/public/images/sidestory/numberStory/Kuiper_Belt_and_Oort_Cloud_in_context.jpg" alt="Kuiper_Belt_and_Oort_Cloud_in_context.jpg">
<br>
<hr>
<br>
<p>We can extend further:</p>
<img src="/public/images/sidestory/numberStory/OtherStars-sizeOfStars.png" alt="OtherStars-sizeOfStars.png">
<br>
<br>
<br>
<p>The closest star (Alpha Centauri) is 7,000km (New York - Rome) (63,240AU) from the sun. Compare the distance to the Pluto (1km)! 
The Betelgeuse is so huge, and its boundary lies in between the Mars and the Jupiter.</p>  
<p>Voyager 1 probe (launched in 1977), which for the last several decades has been coursing through space at speeds upwards of 38,000 mph / 62,000 kph. That's over 17 kilometers per second (50 times faster than a bullet). But with that speed, Voyager 1 would still take over 70,000 years to reach Alpha Centauri!</p>
<br>
<hr>
<p>For a given screen or a sheet of paper, it's almost impossible to draw the solar system in scale matching both the size of the planets and the distances.</p>
<p>We need several screens or a long tape-like paper to draw it in real scale!</p>
<br>
<br>
<hr>
<br>
<br>
<h3>Speed - Earth</h3>
<table class="table">
 <tr>
   <th>Object</th>
   <th>Speed (miles/hr)</th>
 </tr>
 <tr>
   <td>Rotation speed of equator </td>
   <td>1,000 mi/hr</td>
 </tr>
 <tr>
   <td>Orbital speed of earth around the sun</td>
   <td>66,000 mi/hr</td>
 </tr>
 <tr>
   <td>Orbital speed of the sun (solar system)    <br>around the Milky Way</td>
   <td>Half million mi/hr</td>
 </tr>
 <tr>
   <td>Andromeda toward the Milky Way</td>
   <td>Quarter million mi/hr</td>
 </tr>
</table>
<br>
<br>
<p><b>Note:</b></p>
<p>1. The galactic year, also known as a cosmic year, is the duration of time required for the Sun to orbit once around the center of the Milky Way Galaxy.[1] Estimates of the length of one orbit range from 225 to 250 million years.</p>

<img src="/public/images/sidestory/numberStory/RotatingGalaxy.png" alt="RotatingGalaxy.png">
<br>

<p>2. Currently, Andromeda and the Milky Way are about 2.5 million light-years apart. Fueled by gravity, the two galaxies are hurtling toward one another at 402,000 kilometers per hour. But even at that speed, they won’t meet for another four billion years. </p>
<hr>
<br>
<a href="#/sidestory/numberStory">Number Story</a>
<br>
<a href="#/sidestory/numberStory/scale">Number Story : Scale</a>
<br>
<a href="#/sidestory/numberStory/solar-system-scale">Number Story : Solar System in Real Scale</a>
<br>
<a href="#/sidestory/">Back to Side Story</a>
<br>
<a href="#/home">Back to Site Home</a>

