
<h1>College Math</h1>
<br>
<p>No matter what grade you got from Linear Algebra class, there are couple of core concept you better take away.</p>
<img src="/public/images/college-math/A-plus.png" alt="A-plus.png">
<img src="/public/images/college-math/gradeF.png" alt="gradeF.png">
<br>
<br />
<p>One of them is <b>Null Space</b>!</p>
<p>Let's check how much do you know about it with very simple one.</p>
$$x + {1\over4} y = 10$$
<img src="/public/images/college-math/one-dollar-bill.png" alt="one-dollar-bill.png">
<img src="/public/images/college-math/Quarter.png" alt="Quarter.png">
<br>
<br>
<br>
<p>As you guessed there are numerous ways of making $10 with $1 and $0.25. That's one of the representations of the equation. So, what's the <b>null space</b> of the equation?</p>
<p>One step further, what's the <b>column space</b> of the equation?</p>
<p>How about <b>particular solution</b>?</p>
<p><b>Rank</b>?</p>
<p><b>Kernel</b>?</p>
<p>To continue, please visit <a href="#/cmath/algebra">Linear Algebra</a>. All those concepts will be discussed there.</p>

<br>
<br>
<img src="/public/images/college-math/AlbertEinstein.png" alt="AlbertEinstein.png">
<br>
<br>
<br>
<a href="#/cmath/algebra">Linear Algebra</a>
<br>
<a href="#/cmath/complex-variables">Complex Variables</a>
<br>
<a href="#/home">Back to Site Home</a>

<script src="algebra/algebra.js"></script>

<script src="complex-variables/complex-variables.js"></script>