  <div class="container">

    <!--<div class="row section featured topspace">-->
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img  src="/public/images/home-page/MathHomeImage.png" alt="">
        </div>
        <div class="col-sm-12 col-md-6">
          <h3 class="text-center">Prelude</h3>
          <p>Math is everywhere.<br>
          From the smallest <b>Planck length</b>, denoted <i>l</i><sub>P</sub>, which is equal to 1.616199(97)x10<sup>−35</sup> meters to the biggest, <b>observable universe</b>, which is 28.5 Gparsecs (93 billion light-years, 8.8×10<sup>26</sup> metres or 5.5×10<sup>23</sup> miles).</p>
          <p>We can easily find Fibonacci or imaginary numbers around us in everyday life.</p>
          <p>This site will try to explain or describe mathematics the most easiest ways possible: pictures, drawings, videos, or simple formulas.</p>
          <p class="text-center"><a href="#home" class="btn btn-action">Read more</a></p>
        </div>
      </div>
    <!--</div> <!-- / section -->-->

  </div>
