  <div class="container">

    <!--<div class="row section featured topspace">-->
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="/public/images/home-page/MathHomeImage.png" alt="">
        </div>

        <div class="col-sm-12 col-md-6">
          <br>
          <h3 class="text-center">Prelude</h3>
          <p>Math is everywhere.<br>
          It is mostly about numbers: weight, size, money, etc.<br>
          Let's think about the size (scale). The smallest scale for most of us is probably <i>mm</i>, and the largest scale in our daily life might be less than 100,000<i>km</i>.</p>
          <p>
          Actually, 
      the smallest scale known to us is <b>Planck length</b> (<i>l</i><sub>P</sub>) which is equal to 1.616199(97)x10<sup>−35</sup> meters, and the biggest scale is <b>observable universe</b> which is 28.5 Gparsecs (93 billion light-years, 8.8×10<sup>26</sup> metres or 5.5×10<sup>23</sup> miles).</p>
          <p>In our everyday life, there are quite a few intersting numbers such as Fibonacci and weird ones such as imaginary numbers.</p>
          
          <p>This site will try to explain or describe mathematics the most easiest ways possible: pictures, drawings, videos, or simple formulas.</p>
          <br>
          <br>
        </div>

        <div class="col-sm-12 col-md-6">
          <iframe width="500" height="323" scrolling="no" src="http://www.numbersleuth.org/universe/magnify/" target="_blank" frameborder="0" allowfullscreen></iframe>
          <br><br> 
          <p>Click the picture to play.</p>
          <a href="http://www.numbersleuth.org/universe/" target="_blank">Magnifying the Universe</a>  by Number Sleuth</a>. 
          <br>
          <br>
          <p class="text-center"><a href="#home" class="btn btn-action">Read more</a></p>
        </div>

      </div>
    <!--</div> -->

  </div>
