  <div class="container">

    <!--<div class="row section featured topspace">-->
    <div class="row">

      <h1>Imaginary Number - History</h1>
      <br>
      <p>Imaginary numbers, until around 1750, were poorly understood and regarded as fictitious or useless, much as zero and the negative numbers once were. </p>
      <p>We hear in 2016, about 11th dimension from "String Theory". We've been laughing at it mostly because we cannot grasp even the 4th dimension. We don't think it is real and can't be real. So, we keep rejecting it.</p>
      <img src="/public/images/not-taught/imaginaryNumber/DoNotEnter.png" alt="DoNotEnter.png">
      <br><br>
      <p>Probably, the same to imaginary number to our poor ancestors.</p>
      <p>Well, to be fair, even the "Big bang" which is now a fact and has been proved its existence, made the whole 70s physics class giggle.</p>

      <p><a href="https://en.wikipedia.org/wiki/Rafael_Bombelli" target="_blank">Rafael-Bombelli</a> is the author of a treatise on algebra and is a central figure in the understanding of imaginary numbers.</p>
      <img src="/public/images/not-taught/imaginaryNumber/Rafael-Bombelli-Imaginary-Number-History.png" alt="Rafael-Bombelli-Imaginary-Number-History.png">
      
      <p>"Many mathematicians were slow to adopt the use of imaginary numbers, including René Descartes, who wrote about them in his La Géométrie, where the term imaginary was used and meant to be derogatory." - <a href="https://en.wikipedia.org/wiki/Imaginary_number" target="_blank">wiki</a></p>
      <p>The use of imaginary numbers was not widely accepted until the work of Leonhard Euler (1707–1783) and Carl Friedrich Gauss (1777–1855).</p>
      <br>
      <br>


      <br>
      <a href="#/not-taught/imaginaryNumber">Imaginary Number</a>
      <br>
      <a href="#/not-taught/imaginaryNumber/history">Imaginary Number - History</a>
      <br>
      <a href="#/not-taught/">Back to Not-taught</a>
      <br>
      <a href="#/home">Back to Site Home</a>
  </div>
</div>