<h1>About Epic Math</h1>
<br>
<br>
<img src="/public/images/about/Hilbert-Math-Quote.png" alt="Hilbert-Math-Quote.png">
<br>
<br>
<p>I strongly belive that no math formula should be no longer than 1 inch.</p>
<p>So, Epic Math will try explain basic concepts and ideas of mathematics while minimizing the use of formulas.</p>

<img src="/public/images/about/child-eureka.png" alt="child-eureka.png">
<br>
<br>
<br>
<br>
<p><i>"I advise my students to listen carefully the moment they decide to take no more mathematics courses. They might be able to hear the sound of closing doors."</i></p>

<p> - James Caballero </p>

